<div class="titleWrapper">
  <h1 class="title">{{ "labels.transactionReporting" | translate }}</h1>
  <app-refresh-button></app-refresh-button>
</div>
<nav mat-tab-nav-bar
     disablePagination="true"
     disableRipple="true"
     color="accent">
  <a mat-tab-link
     routerLink="conversations"
     routerLinkActive #conversation="routerLinkActive"
     [active]="conversation.isActive"
  >
    {{ "labels.conversations" | translate }}
  </a>
  <a mat-tab-link
     routerLink="messages"
     routerLinkActive #message="routerLinkActive"
     [active]="message.isActive"
  >
    {{ "labels.messages" | translate }}
  </a>
</nav>
<div>
  <router-outlet></router-outlet>
</div>
