@import '../../styles.scss';

::ng-deep .mat-tab-links {
  background: $gray5;
  border-bottom: $gray4 solid 1px;

  a {
    color: $gray1;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  @media (max-width: $mobileBreakpoint) {
    .mat-tab-link {
      width: 50%;
    }
  }
}

@media (min-width: $desktopBreakpoint) {
  ::ng-deep .mat-tab-links {
    background: white;
    border-bottom: none;
  }
}
