<div id="first">
  <mat-paginator [length]="totalItemCount"
                 [pageSize]="pageSize"
                 [pageIndex]="pageIndex"
                 [pageSizeOptions]="[10, 20, 50, 100]"
                 [showFirstLastButtons]="true"
                 (page)="onPageChange($event)">
  </mat-paginator>
</div>
<div *ngIf="screenSizeService.isMobile()" class="padded">
  <app-master-select
    *ngIf="items.length && itemType == 'message'"
    [items]="items"
    [selectionGroupName]="itemType"
  >
  </app-master-select>
  <div *ngFor="let item of items" class="item-card-wrapper">
    <app-card [item]="item" [config]="cardConfig" [itemType]="itemType" [isSelectable]="isSelectable"></app-card>
  </div>
</div>
<div *ngIf="!screenSizeService.isMobile()" [ngSwitch]="itemType" class="padded items-table-wrapper">
  <app-message-table *ngSwitchCase="'message'" [messages]="items"></app-message-table>
  <app-table *ngSwitchCase="'conversation'" [config]="tableConfig" [items]="items" [itemType]="itemType"
             [isSelectable]="isSelectable"></app-table>
</div>
<mat-paginator *ngIf="items?.length"
               [length]="totalItemCount"
               [pageSize]="pageSize"
               [pageIndex]="pageIndex"
               [pageSizeOptions]="[10, 20, 50, 100]"
               [showFirstLastButtons]="true"
               (page)="onPageChange($event)">
</mat-paginator>
