<div id="first">
  <mat-paginator [length]="totalItemCount"
                 [pageSize]="pageSize"
                 [pageIndex]="pageIndex"
                 [pageSizeOptions]="[10, 20, 50, 100]"
                 [showFirstLastButtons]="true"
                 (page)="onPageChange($event)">
  </mat-paginator>
</div>
<div class="action-button-panel">
  <ng-container *ngFor="let action of actions">
    <app-action-button
      [action]="action"
      (triggerReload)="update()">
    </app-action-button>
  </ng-container>
</div>
<app-list [desktopConfig]="desktopConfig" [mobileConfig]="mobileConfig" [items]="items" [itemType]="itemType"
          [isSelectable]="isSelectable()"></app-list>
<mat-paginator *ngIf="items?.length"
               [length]="totalItemCount"
               [pageSize]="pageSize"
               [pageIndex]="pageIndex"
               [pageSizeOptions]="[10, 20, 50, 100]"
               [showFirstLastButtons]="true"
               (page)="onPageChange($event)">
</mat-paginator>
