.session-panel {
  background: #e8e8e8;
  width: 100%;
  box-shadow: 0 1px 5px 0 rgb(0, 0, 0, 0.08);
  border-bottom: 1px #ccc solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 15px 16px;
  position: relative;

  .user-label {
    color: #777;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 11px;
  }

  .user-name {
    font-weight: 500;
  }

  button {
    line-height: 0;
    height: 30px;
  }
}
