<label [for]="fieldName">{{ "labels." + fieldName | translate }}</label>
<mat-form-field>
  <mat-select (selectionChange)="emitValue($event)" [value]="selectedValue | titlecase"
              [placeholder]="'labels.all' | translate"
              [id]="fieldName">
    <mat-option>{{ "labels.all" | translate }}</mat-option>
    <mat-option *ngFor="let allowedValue of allowedValues" [value]="allowedValue | titlecase">
      {{ "status." + allowedValue | translate }}
    </mat-option>
  </mat-select>
</mat-form-field>
