@import '../styles.scss';

.content-container {
  box-sizing: border-box;
  /* vh cannot be used otherwise for iOS it does not show the whole content */
  height: calc(100% - 50px);
  overflow-x: hidden;
  overflow-y: auto;
}

@media(min-width: $desktopBreakpoint) {
  .content-container {
    margin-left: 350px;
    /* vh cannot be used otherwise for iOS it does not show the whole content */
    height: calc(100% - 75px);
  }
}

.pull-to-refresh {
  display: block;
  height: 100%;
  background-color: #333333;
}
