@import '../styles.scss';

.content-container {
  padding-top: 50px;
  box-sizing: border-box;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

@media(min-width: $desktopBreakpoint) {
  .content-container {
    margin-left: 350px;
    padding-top: 85px;
  }
}
