<label>{{ "labels." + fieldName | translate }}</label>
<mat-form-field class="example-full-width">
  <input type="text" matInput [matAutocomplete]="auto" (blur)="emitValue()" [(ngModel)]="selectedValue"/>
  <button mat-button *ngIf="selectedValue" matSuffix mat-icon-button aria-label="Clear" (click)="clear()">
    <mat-icon>close</mat-icon>
  </button>

  <mat-autocomplete
    #auto="matAutocomplete"
    (optionSelected)="onSelect($event.option.value)"
  >
    <mat-option *ngFor="let option of allowedValues" [value]="option">
      {{ option }}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
