<label>{{ "labels." + fieldName | translate }}</label>
<mat-form-field class="example-full-width">
  <label>
    <input type="text" matInput
           [matAutocomplete]="auto"
           (focus)="filterSuggestions()"
           (blur)="checkInput()"
           (ngModelChange)="filterSuggestions($event)"
           [(ngModel)]="currentValue"
           placeholder="{{ 'labels.' + (allowedValues ? 'typeToSearch' : 'searchByFragment') | translate }}"
           spellcheck="false"
    />
  </label>
  <button mat-button *ngIf="currentValue" matSuffix mat-icon-button aria-label="Clear" (click)="clear()">
    <mat-icon>close</mat-icon>
  </button>

  <mat-autocomplete
    #auto="matAutocomplete"
    (optionSelected)="onSelect($event.option.value)"
  >
    <mat-option *ngFor="let option of filteredOptions" [value]="option">
      {{ option }}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
