<mat-card [class]="message.status | lowercase" class="messageStatusLeftBorderColor">
  <div class="card-header">
    <mat-checkbox (change)="toggleSelection($event)" [checked]="isSelected()"></mat-checkbox>
    <a [routerLink]="'' + message.nxMessageId">{{ message.messageId }}</a>
  </div>
  <table>
    <tr>
      <td class="label">{{ "labels.conversationId" | translate }}</td>
      <td><a [routerLink]="'../conversations/' + message.nxConversationId">{{ message.conversationId }}</a></td>
    </tr>
    <tr>
      <td class="label">{{ "labels.partnerId" | translate }}</td>
      <td>{{ message.partnerId }}</td>
    </tr>
    <tr>
      <td class="label">{{ "labels.messageType" | translate }}</td>
      <td>{{ message.typeName }}</td>
    </tr>
    <tr>
      <td class="label">{{ "labels.action" | translate }}</td>
      <td>{{ message.actionId }}</td>
    </tr>
    <tr>
      <td class="label">{{ "labels.createdDate" | translate }}</td>
      <td>
        {{ message.createdDate }}
      </td>
    </tr>
  </table>
</mat-card>
