<div class="http-warning" *ngIf="!isHttps">You are trying to log in using an insecure connection. Using HTTPS is
  recommended.
</div>
<form name="login">
  <label>
    <input name="user" type="text" required [(ngModel)]="user">
  </label>
  <label>
    <input name="password" type="password" required [(ngModel)]="password">
  </label>
</form>
<div class="login-error" *ngIf="loginError">
  Wrong login data. Please try again.
</div>
<button class="login-button" type="button" (click)="onSubmit()">
  Login
</button>
