<div class="http-warning" *ngIf="!isHttps">
  You are trying to log in using an insecure connection. Using HTTPS is
  recommended.
</div>
<form name="login">
  <label>
    <input name="user" type="text" required [(ngModel)]="user" />
  </label>
  <label>
    <input name="password" type="password" required [(ngModel)]="password" />
  </label>
  <button (click)="onSubmit()" class="login-button" type="submit">Login</button>
</form>
<div class="login-error" *ngIf="loginError">
  Wrong login data. Please try again.
</div>
