<div class="expanded filters" [hidden]="!expanded && screenSizeService.isMobile()">
  <div class="filterWrapper">
    <div *ngFor="let filter of filters" class="filter" [ngClass]="{'full': filter.fieldName === 'startEndDateRange'}">
      <div [ngSwitch]="filter.filterType">
        <app-select-filter
          *ngSwitchCase="getFilterType().SELECT"
          [allowedValues]="filter.allowedValues"
          [selectedValue]="activeFilters[filter.fieldName] | string"
          [fieldName]="filter.fieldName"
          (valueChange)="updateActiveFilters($event)"
        >
        </app-select-filter>
        <app-date-time-range-filter
          *ngSwitchCase="getFilterType().DATE_TIME_RANGE"
          [fieldName]="filter.fieldName"
          (valueChange)="updateActiveFilters($event)"
          [selectedValue]="activeFilters[filter.fieldName] | dateRange">
        </app-date-time-range-filter>
        <app-text-filter
          *ngSwitchCase="getFilterType().TEXT"
          [allowedValues]="filter.allowedValues"
          [defaultValue]="filter.defaultValue"
          [fieldName]="filter.fieldName"
          (valueChange)="updateActiveFilters($event)"
          [selectedValue]="activeFilters[filter.fieldName] | string"
        >
        </app-text-filter>
      </div>
    </div>
  </div>
  <div class="buttonsWrapper">
    <button mat-flat-button
            (click)="resetFiltersAndSetDefaults()"
            color="primary"
            class="resetFilterButton"
    >
      {{ "buttons.resetFilter" | translate }}
    </button>
    <button mat-flat-button
            (click)="handleFilterAction()"
            color="accent"
            id="filterButton"
            class="filterButton"
    >
      {{ "buttons.filter" | translate }}
    </button>
  </div>
</div>
<div *ngIf="screenSizeService.isMobile()" (click)="toggleVisibility()" class="toggle" [class.border]="expanded">
  <div class="collapsed" *ngIf="!expanded">
    <div *ngIf="getNumberOfActivatedFilters()" class="filter-info">
      <div class="active-filters-badge">{{ getNumberOfActivatedFilters() }}</div>
      {{ (getNumberOfActivatedFilters() == 1 ? "labels.filterActive" : "labels.filtersActive") | translate }}
    </div>
    <div *ngIf="!getNumberOfActivatedFilters()">
      {{ "labels.noFiltersActive" | translate }}
    </div>
  </div>
  <mat-icon>{{ expanded ? "keyboard_arrow_up" : "keyboard_arrow_down" }}</mat-icon>
  <div class="collapsed mobileResetBtnWrapper" *ngIf="!expanded">
    <button mat-raised-button
            (click)="$event.stopPropagation(); resetFiltersAndSetDefaults();"
            color="primary"
            class="resetFilterButton"
    >
      {{ "buttons.resetFilter" | translate }}
    </button>
  </div>
</div>
