@import '../../styles.scss';

button {
  display: block;
  width: 100%;
}

.toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-bottom: 1px $gray3 solid;
  outline: none;
  text-transform: none;
  padding: 6px;
  background: $gray5;
  color: $gray2;
  cursor: pointer;
}

.border {
  border-top: 1px solid $gray3;
}

.filter-info {
  display: flex;
  align-items: stretch;

  .active-filters-badge {
    color: white;
    padding: 0 10px;
    background: $orangeDark;
    border-radius: 9px;
    margin-right: 5px;
    font-size: 12px;
    text-align: center;
  }
}

.expanded {
  background: $gray5;
  padding: 10px;

  ::ng-deep label {
    color: $gray2;
    margin-left: 5px;
    display: block;
  }

  ::ng-deep .mat-form-field {
    display: block;
  }

  ::ng-deep .mat-form-field-appearance-outline {
    .mat-form-field-wrapper {
      margin-top: 0;
    }

    .mat-select-arrow-wrapper {
      transform: translateX(-8px);
    }

    .mat-form-field-suffix {
      top: 0.40em;
    }
  }
}

@media(min-width: $desktopBreakpoint) {
  .filters {
    background: $white;
    padding: 15px 0;

    .filter_wrapper {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      .filter {
        flex-grow: 1;
        flex-shrink: 1;

        &.full {
          min-width: 100%;

          & > div {
            padding: 0;
          }

          app-date-time-range-filter {
            display: flex;
            flex-direction: row;
          }
        }

        & > div {
          padding: 0 5px;
        }
      }
    }

    .filterButton {
      width: auto;
      margin-left: auto;
      margin-right: 5px;
    }
  }
}
