@import '../../styles.scss';

.menu-item {
  color: $gray1;
  width: 100%;
  height: 50px;
  background: $gray5;
  border-bottom: 1px $gray3 solid;
  display: flex;

  &:hover {
    filter: brightness(1.03);
  }

  button {
    cursor: pointer;
    height: inherit;
    background: inherit;
    border: none;
    border-radius: 0;
    outline: none;

    &.link {
      text-transform: capitalize;
      text-align: left;
      width: 100%;
      font-size: 14px;
    }

    &.toggle {
      padding: 14px;

      &:hover {
        filter: brightness(1.02);
      }
    }
  }
}
