@import '../../styles.scss';

.menu-item {
  button {
    color: $gray1;
    height: 50px;
    background: $gray5;
    text-transform: capitalize;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid $gray3;
    outline: none;
    text-align: left;
    cursor: pointer;
  }
}
