@import '../../styles.scss';

.menu-item {
  width: 100%;
  height: 50px;
  background: $gray5;
  border-bottom: 1px $gray3 solid;
  display: flex;

  button {
    cursor: pointer;
    height: inherit;
    background: inherit;
    border: none;
    border-radius: 0;
    outline: none;
    position: relative;
    color: $gray1;

    &.link {
      text-transform: capitalize;
      text-align: left;
      width: 100%;
      font-size: 14px;
    }

    &:hover,
    &.active {
      filter: brightness(1.03);
    }

    &.active {
      font-weight: bold;
    }
  }

  span {
    &.toggle {
      height: 24px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 14px;
    }
  }
}
