<app-filter-panel
  [filters]="filters"
  itemType="message"
  (filterChange)="filterMessages($event)"
></app-filter-panel>
<app-paginated-list [totalItemCount]="totalMessageCount"
                    [defaultPageSize]="defaultPageSize"
                    [mobileConfig]="mobileConfig"
                    [desktopConfig]="desktopConfig"
                    [actions]="actions"
                    [items]="messages"
                    itemType="message"
                    (triggerReload)="loadMessages($event.pageIndex, $event.pageSize)"
>
</app-paginated-list>
<ng-container *ngIf="!loaded">
  <app-loading-spinner></app-loading-spinner>
</ng-container>
