<app-filter-panel
  [filters]="filters"
  (filterChange)="filterMessages($event)"
></app-filter-panel>
<app-paginated-list [hidden]="!loaded"
                    [totalItemCount]="totalMessageCount"
                    [cardConfig]="cardConfig"
                    [isSelectable]="true"
                    [items]="messages"
                    itemType="message"
                    (triggerReload)="loadMessages($event.pageIndex, $event.pageSize)"
>
</app-paginated-list>
<div class="loading_spinner_wrapper" *ngIf="!loaded">
  <app-loading-spinner></app-loading-spinner>
</div>
