<mat-paginator *ngIf="messages?.length"
               [length]="totalMessageCount"
               [pageSize]="pageSize"
               [pageIndex]="pageIndex"
               [hidePageSize]="true"
               (page)="onPageChange($event)">
</mat-paginator>
<div *ngFor="let message of messages" class="message-card-wrapper">
  <app-message-card [message]="message"></app-message-card>
</div>
<mat-paginator *ngIf="messages?.length"
               [length]="totalMessageCount"
               [pageSize]="pageSize"
               [pageIndex]="pageIndex"
               [hidePageSize]="true"
               (page)="onPageChange($event)">
</mat-paginator>
