/* You can add global styles to this file, and also import other style files. Please
*/

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

h1, h2 {
  color: #808080;
}

button {
  text-transform: uppercase;
}

.mat-form-field-infix {
  border-top: 5px solid transparent;
}

/* UTILITY */

.padded {
  padding: 10px;
}

.centered {
  max-width: 400px;
  margin: 0 auto;
}

.full-height {
  height: 100%;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}
