/* VARIABLES */
$gray1: #333333;
$gray2: #666666;
$gray3: #CCCCCC;
$gray4: #C4C4C4;
$gray5: #E8E8E8;
$gray6: #F8F8F8;
$orangeDark: #E66009;
$orangeBright: #FF914C;
$orangeFaded: #FFC29A;
$errorBackground: #FFDACF;
$messageBackground: #CCFFCC;
$success: #7BD37A;
$error: #FF1F00;
$warning: #FAF11B;
$info: #CCCCCC;
$textBlack: #000000;
$textGrey: #AAAAAA;
$darkerTextGray: #888;
$textOrange: #E56009;
$textError: #cc570c;
$white: #FFFFFF;
$shade1Yellow: #FCF782;
$shade2Yellow: #FEFCC6;
$shade1Grey: #D6D6D6;
$shade2Grey: #DEDEDE;
$shade3Grey: #E3E3E3;
$shade4Grey: #E8E8E8;
$shade5Grey: #EDEDED;
$desktopBreakpoint: 980px;
$desktopBreakpointForMaxWidth: 979px;
$tabletBreakpoint: 750px;
$mobileBreakpoint: 501px;
$mobileBreakpointForMaxWidth: 500px;

/* GENERAL */
html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow: hidden;
}

h1, h2 {
  color: $gray1;
}

@media(max-width: $desktopBreakpointForMaxWidth) {
  h1 {
    background: $gray4;
    padding: 3px 15px 0 15px;
    font-size: 11px !important;
    letter-spacing: 1px !important;
    text-transform: uppercase !important;
    margin-bottom: 0 !important;
  }
}

button {
  text-transform: uppercase;
}

.mat-form-field-infix {
  border-top: 5px solid transparent;
}

.mat-form-field-appearance-outline .mat-form-field-outline-thick {
  color: $gray3 !important;
}

a {
  color: $orangeDark;
  text-decoration: none;
}

/* UTILITY */

.padded {
  padding: 10px;
}

.paddedRightLeft {
  padding: 0 10px;
}

.centered {
  max-width: 400px;
  margin: 0 auto;
}

.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.relativeWrapper {
  position: relative;
}

.subtitle {
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 10px;

  &.withIcon {
    display: flex;
    flex-direction: row;

    .titleIcon {
      font-size: 20px;
      padding-left: 10px;
      color: $gray3;
      cursor: pointer;
    }
  }
}

@media(min-width: $desktopBreakpoint) {
  .padded-desktop {
    padding: 15px;
  }
}

/* Card Element */
.mat-card {
  margin-bottom: 15px;
  padding: 8px;
  color: $gray2;

  .card-header {
    padding-bottom: 4px;
    padding-left: 2px;
    display: flex;

    .mat-checkbox {
      margin-right: 10px;
    }

    a {
      margin-top: 2px;
    }
  }

  table {
    table-layout: fixed;
    width: 100%;

    td:not(.label) {
      white-space: nowrap;
      overflow: hidden;

      &:not(.whiteSpaceBreak):before {
        content: "";
        width: 40px;
        height: 20px;
        position: absolute;
        background: linear-gradient(to right, rgba(255, 255, 255, 0.1), #fff);
        right: 0;
      }

      &[class="description"] {
        white-space: normal;
        word-break: break-word;

        &:before {
          background: transparent;
        }
      }

      &.whiteSpaceBreak {
        white-space: normal;
        word-break: break-word;
      }
    }

    .label {
      width: 200px;
      font-weight: bold;
      vertical-align: baseline;
      word-break: break-word;
      white-space: normal;
      text-align: left;
    }

    @media (max-width: $mobileBreakpointForMaxWidth) {
      .label {
        width: 160px;
      }
    }
  }
}

/* Scrollable Table */
.table-scrollable {
  display: block;
  width: 100%;
  overflow-x: auto;

  .mat-table {
    width: 100%;
    max-width: 100%;
    display: table;
    border-collapse: collapse;
    margin: 0;
  }

  .mat-row,
  .mat-header-row {
    display: table-row;
  }

  .mat-cell,
  .mat-header-cell {
    word-wrap: initial;
    display: table-cell;
    padding: 0 5px;
    line-break: unset;
    width: auto;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;

    &[class*="-column-messageId"],
    &[class*="-column-conversationId"] {
      white-space: normal;
      min-width: 180px;
    }

    &[class*="-column-description"] {
      white-space: normal;
      min-width: 375px;
      padding-top: 10px;
      padding-bottom: 10px;
    }

    &:first-of-type {
      padding: 0 20px;
    }
  }

  .mat-cell {
    &[class*="-column-select"] {
      padding-left: 16px;
    }
  }
}

/* Simple Table */
.simple-table {

  table {
    table-layout: fixed;
    width: 100%;

    td {
      word-break: break-word;
      white-space: normal;

      &[class="description"] {
        white-space: normal;

        &:before {
          background: transparent;
        }
      }
    }

    .label {
      width: 120px;
      font-weight: bold;
      vertical-align: baseline;
    }
  }
}

/* Status Colors */
// General
.statusLeftBorder {
  border-left: 5px $gray4 solid;

  &.statusLeftBorderColor {
    &.error, &.failed, &.fatal {
      border-left-color: $error !important;
    }

    &.unknown, &.created, &.idle, &.stopped, &.retrying, &.warn {
      border-left-color: $warning !important;
    }

    &.completed, &.sent {
      border-left-color: $success !important;
    }
  }
}

// Detailed
.statusDetailedColor {
  &.error {
    background: $error;
    color: $gray6;
  }

  &.awaiting_ack {
    background: $shade5Grey;
  }

  &.unknown {
    background: $shade2Yellow;
  }

  &.created {
    background: $warning;
  }

  &.processing {
    background: $info;
  }

  &.idle {
    background: $shade1Yellow;
  }

  &.sending_ack {
    background: $shade1Grey;
  }

  &.ack_sent_awaiting_backend {
    background: $shade4Grey;
  }

  &.awaiting_backend {
    background: $shade2Grey;
  }

  &.backend_sent_sending_ack {
    background: $shade3Grey;
  }

  &.completed {
    background: $success;
  }
}

/* Toggle Section */
.toggleSection {
  margin-bottom: 15px;

  .toggle-Header {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .padded {
    padding: 0 10px 10px 10px !important;
  }
}

/* Tabs */
::ng-deep .mat-tab-links {
  background: $gray5;
  border-bottom: 1px solid $gray4;

  a {
    color: $gray2;
    text-transform: uppercase;
    letter-spacing: 1px;
    opacity: 1 !important;
  }

  @media (max-width: $mobileBreakpoint) {
    .mat-tab-link {
      width: 50%;
    }
  }
}

@media (min-width: $desktopBreakpoint) {
  ::ng-deep .mat-tab-links {
    background: white;
  }
}

::ng-deep .mat-tab-list {
  .mat-tab-label {
    color: $gray2;
    opacity: 1 !important;
  }
}

/* Mobile Dashboard Card */
.dashboardMobileCard {
  padding: 20px !important;
  height: 100%;
  box-sizing: border-box;
  display: flex !important;
  justify-content: space-between;
  flex-direction: column;

  .title {
    font-size: 18px;
    text-align: center;
  }

  .info {
    font-size: 30px;
    font-weight: bold;
    color: $darkerTextGray;
    text-align: center;
    word-break: break-word;

    div {
      font-size: 20px;
      color: $darkerTextGray;
      line-height: 1.2;
    }
  }
}

/* Validity Colors */
.validity-error {
  color: $error !important;
  font-weight: bold;
}

.validity-success {
  color: $success !important;
  font-weight: bold;
}

/* Button */
button {
  vertical-align: middle;
  margin-right: 5px;

  .btnIcon {
    vertical-align: middle;
    font-size: 17px;
    height: 18px;
    width: 17px;
    margin-right: 5px;
  }
}

/* Title Wrapper */
.titleWrapper {
  position: relative;

  .refreshButton {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
}

@media(max-width: $desktopBreakpointForMaxWidth) {
  .titleWrapper {
    .refreshButton {
      line-height: 24px;
    }
  }
}

.ngx-ptr-content-container > div {
  height: 100%;
}

.ngx-ptr-content-container {
  z-index: 9999;
  box-shadow: black 0px -4px 10px;
}
