<div [ngClass]="{ 'expanded': expanded }" class="navigation">
  <div class="session-panel">
    <div class="login-info">
      <div class="user-label">
        Logged in as
      </div>
      <div class="user-name accent-color">
        Admin
      </div>
    </div>
    <button color="accent" mat-flat-button>
      Logout
    </button>
  </div>
  <div class="nav-items">
    <button>Dashboard</button>
    <button>Reporting</button>
    <button>Transaction Reporting</button>
    <button>Engine Log</button>
    <button>Dashboard</button>
    <button>Reporting</button>
    <button>Transaction Reporting</button>
    <button>Engine Log</button>
    <button>Dashboard</button>
    <button>Reporting</button>
    <button>Transaction Reporting</button>
    <button>Engine Log</button>
    <button>Dashboard</button>
    <button>Reporting</button>
    <button>Transaction Reporting</button>
    <button>Engine Log</button>
    <button>Dashboard</button>
    <button>Reporting</button>
    <button>Transaction Reporting</button>
    <button>Engine Log</button>
  </div>
  <div class="version-info padded">
    4.2.4<br>
    Revision: 982<br>
    Build: 14 2020-03-18_16-49-06
  </div>
</div>
