<div [ngClass]="{ 'expanded': expanded }" class="navigation">
  <app-session-panel></app-session-panel>
  <div class="nav-items">
    <button>Dashboard</button>
    <button>Reporting</button>
    <button>Transaction Reporting</button>
    <button>Engine Log</button>
    <button>Dashboard</button>
    <button>Reporting</button>
    <button>Transaction Reporting</button>
    <button>Engine Log</button>
    <button>Dashboard</button>
    <button>Reporting</button>
    <button>Transaction Reporting</button>
    <button>Engine Log</button>
    <button>Dashboard</button>
    <button>Reporting</button>
    <button>Transaction Reporting</button>
    <button>Engine Log</button>
    <button>Dashboard</button>
    <button>Reporting</button>
    <button>Transaction Reporting</button>
    <button>Engine Log</button>
  </div>
  <div class="version-info padded">
    4.2.4<br>
    Revision: 982<br>
    Build: 14 2020-03-18_16-49-06
  </div>
</div>
