header {
  background: #333;
  height: 50px;
  width: 100%;
  position: fixed;
  z-index: 100;

  .mat-icon-button {
    width: 50px;
    height: 50px;
    color: white;
    float: left;
  }

  .nexus-info {
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .machine-name {
      color: white;
    }

    .version {
      color: #bbb;
      font-size: 13px;
    }
  }
}
