@import '../../styles.scss';

header {
  background: $gray1;
  height: 50px;
  width: 100%;
  position: fixed;
  z-index: 100;

  .left-section {
    height: 100%;

    .shadow-bottom {
      height: 100%;
      display: flex;

      .mat-icon-button {
        width: 50px;
        height: 50px;
        color: $white;
        float: left;
      }

      .logo {
        display: none;
      }

      .nexus-info {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .machine-name {
          color: $white;
        }

        .version {
          color: $gray4;
          font-size: 13px;
        }
      }
    }
  }

  .right-section {
    display: none;
  }
}

@media(min-width: $desktopBreakpoint) {
  header {
    background: $gray6;
    height: 75px;
    display: flex;
    justify-content: space-between;

    .left-section {
      height: 100%;
      width: 350px;
      overflow: hidden;
      padding-bottom: 10px;
      display: flex;

      .shadow-bottom {
        width: 350px;
        background: $gray5;
        border-bottom: 1px solid $gray4;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.12);

        .mat-icon-button {
          display: none;
        }

        .logo {
          display: inline-block;
          padding: 10px 16px;

          img {
            border-radius: 4px;
            width: 46px;
          }
        }

        .nexus-info {
          .machine-name {
            color: $gray1;
            font-weight: bold;
            font-size: 16px;
          }

          .version {
            color: $gray1;
          }
        }
      }
    }

    .right-section {
      display: block;
    }
  }
}
