<mat-card *ngIf="item" [class]="item.status | lowercase" class="statusLeftBorderColor">
  <div *ngIf="headerElement && headerElement.linkUrlRecipe" class="card-header">
    <mat-checkbox *ngIf="isSelectable" (change)="toggleSelection($event)" [checked]="isSelected()"></mat-checkbox>
    <a [routerLink]="getUrl(headerElement.linkUrlRecipe)">
      {{ getProperty(headerElement.fieldName) }}
    </a>
  </div>
  <table>
    <ng-container *ngFor="let configItem of config">
      <tr *ngIf="!configItem.isHeader">
        <td class="label">{{ "labels." + configItem.fieldName | translate }}</td>
        <td *ngIf="!configItem.linkUrlRecipe">
          {{ getProperty(configItem.fieldName) }}
        </td>
        <td *ngIf="configItem.linkUrlRecipe">
          <a [routerLink]="getUrl(configItem.linkUrlRecipe)">
            {{ getProperty(configItem.fieldName) }}
          </a>
        </td>
      </tr>
    </ng-container>
  </table>
</mat-card>
