<mat-card *ngIf="item" [class]="item.status | lowercase" class="statusLeftBorderColor">
  <div *ngIf="headerElement && headerElement.linkUrl" class="card-header">
    <a [routerLink]="'' + getProperty(headerElement.linkUrl)">
      {{ getProperty(headerElement.fieldName) }}
    </a>
  </div>
  <table>
    <ng-container *ngFor="let configItem of config">
      <tr *ngIf="!configItem.isHeader">
        <td class="label">{{ "labels." + configItem.fieldName | translate }}</td>
        <td>{{ getProperty(configItem.fieldName) }}</td>
      </tr>
    </ng-container>
  </table>
</mat-card>
