<ng-container *ngIf="!showAsSimpleTable">
  <ng-container *ngIf="!screenSizeService.isMobile() && !showAlwaysAsCard">
    <div class="padded items-table-wrapper">
      <div class="table-scrollable" *ngIf="items.length">
        <table mat-table [dataSource]="items" class="mat-elevation-z8 full-width">
          <ng-container matColumnDef="select">
            <th [class.thin]="!isSelectable" mat-header-cell *matHeaderCellDef>
              <app-master-select *ngIf="isSelectable"
                                 [items]="items"
                                 [selectionGroupName]="itemType"
              ></app-master-select>
            </th>
            <td mat-cell *matCellDef="let element" [class]="(element.status || element.severity) | lowercase"
                [class.thin]="!isSelectable"
                [class.statusLeftBorder]="!showWithoutBorder"
                class="statusLeftBorderColor">
              <mat-checkbox *ngIf="isSelectable" (change)="toggleSelection($event, element)"
                            [checked]="isSelected(element)"></mat-checkbox>
            </td>
          </ng-container>

          <ng-container *ngFor="let columnConfigItem of desktopConfig" [matColumnDef]="columnConfigItem.fieldName">
            <th mat-header-cell
                *matHeaderCellDef>{{ "labels." + (columnConfigItem.label || columnConfigItem.fieldName) | translate }}</th>
            <td mat-cell *matCellDef="let item">
              <ng-container *ngIf="columnConfigItem.columnType != columnType().ACTION_BUTTON">
                <ng-container
                  *ngTemplateOutlet="cellContent; context: {columnConfigItem: columnConfigItem, item: item};"></ng-container>
              </ng-container>
              <ng-container *ngIf="columnConfigItem.columnType == columnType().ACTION_BUTTON">
                <app-action-button
                  [action]="columnConfigItem.actionButton"
                  [affectedItems]="buildAffectedItems(item)">
                </app-action-button>
              </ng-container>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="screenSizeService.isMobile() || showAlwaysAsCard">
    <div class="padded relativeWrapper">
      <app-master-select
        *ngIf="items.length && isSelectable"
        [items]="items"
        [selectionGroupName]="itemType"
      >
      </app-master-select>
      <div *ngFor="let item of items" class="item-card-wrapper">
        <mat-card *ngIf="item" [class]="(item.status || item.severity) | lowercase"
                  [class.statusLeftBorder]="!showWithoutBorder" class="statusLeftBorderColor">
          <div *ngIf="headerElement && headerElement.linkUrlRecipe" class="card-header">
            <mat-checkbox *ngIf="isSelectable" (change)="toggleSelection($event, item)"
                          [checked]="isSelected(item)"></mat-checkbox>
            <a [routerLink]="getUrl(item, headerElement.linkUrlRecipe)">
              {{ getProperty(item, headerElement.fieldName) }}
            </a>
          </div>
          <table>
            <ng-container *ngFor="let columnConfigItem of mobileConfig">
              <tr *ngIf="!columnConfigItem.isHeader">
                <td
                  class="label">{{ "labels." + (columnConfigItem.label || columnConfigItem.fieldName) | translate }}</td>
                <td [class]="columnConfigItem.fieldName" [class.whiteSpaceBreak]="showAlwaysAsCard">
                  <ng-container *ngIf="columnConfigItem.columnType != columnType().ACTION_BUTTON">
                    <ng-container
                      *ngTemplateOutlet="cellContent; context: {columnConfigItem: columnConfigItem, item: item};"></ng-container>
                  </ng-container>
                  <ng-container *ngIf="columnConfigItem.columnType == columnType().ACTION_BUTTON">
                    <app-action-button
                      [action]="columnConfigItem.actionButton"
                      [affectedItems]="buildAffectedItems(item)">
                    </app-action-button>
                  </ng-container>
                </td>
              </tr>
            </ng-container>
          </table>
        </mat-card>
      </div>
    </div>
  </ng-container>
</ng-container>

<ng-container *ngIf="showAsSimpleTable">
  <div class="padded relativeWrapper">
    <div *ngFor="let item of items" class="simple-table">
      <table>
        <ng-container *ngFor="let columnConfigItem of simpleTableConfig">
          <tr *ngIf="!columnConfigItem.isHeader">
            <td class="label">{{ "labels." + (columnConfigItem.label || columnConfigItem.fieldName) | translate }}</td>
            <td [class]="columnConfigItem.fieldName" class="relativeWrapper"
                [class.columnWithCopyIcon]="columnConfigItem.showCopyIcon">
              <ng-container
                *ngTemplateOutlet="cellContent; context: {columnConfigItem: columnConfigItem, item: item, doNotTrim: showAsSimpleTable};"></ng-container>
            </td>
          </tr>
        </ng-container>
      </table>
    </div>
  </div>
</ng-container>

<ng-template #cellContent let-columnConfigItem="columnConfigItem" let-item="item" let-doNotTrim="doNotTrim">
  <span class="icon-property" *ngIf="columnConfigItem.columnType == columnType().ICON">
    <img [src]="getUrl(item, columnConfigItem.iconUrlRecipe)" alt="property_icon"/>
  </span>
  <ng-container
    *ngIf="columnConfigItem.columnType == columnType().TEXT || columnConfigItem.columnType == columnType().TEXT_AND_MORE">
    <span>{{ columnConfigItem.titleCase ? (getProperty(item, columnConfigItem.fieldName) | capsToTitleCase) : getProperty(item, columnConfigItem.fieldName) }}</span>
  </ng-container>
  <ng-container *ngIf="columnConfigItem.columnType == columnType().LONG_TEXT">
    <ng-container *ngIf="!doNotTrim">
      <span>{{ getTrimmedProperty(item, columnConfigItem.fieldName) }}</span>
      <div *ngIf="isLongText(getTrimmedProperty(item, columnConfigItem.fieldName))">
        <button mat-button color="accent" class="float-right"
                (click)="showMore(item)">{{ "buttons.showMore" | translate }}</button>
      </div>
    </ng-container>
    <ng-container *ngIf="doNotTrim">
      <span>{{ getProperty(item, columnConfigItem.fieldName) }}</span>
    </ng-container>
  </ng-container>
  <ng-container
    *ngIf="columnConfigItem.columnType == columnType().LINK || columnConfigItem.columnType == columnType().LINK_AND_MORE">
    <a [routerLink]="getUrl(item, columnConfigItem.linkUrlRecipe)">
      {{ getProperty(item, columnConfigItem.fieldName) }}
    </a>
  </ng-container>
  <ng-container
    *ngIf="columnConfigItem.columnType == columnType().TEXT_AND_MORE || columnConfigItem.columnType == columnType().LINK_AND_MORE">
    <ng-container>
        <span class="additional-field">
          <span *ngIf="columnConfigItem.separator == separator().VERTICAL_BAR"
                class="separator-padding">|</span>
          <span *ngIf="columnConfigItem.separator == separator().BRACKETS">(</span>
            <ng-container *ngIf="columnConfigItem.additionalLinkUrlRecipe">
              <a [routerLink]="getUrl(item, columnConfigItem.additionalLinkUrlRecipe)"
                 [queryParams]="getQueryParams(item, columnConfigItem.additionalLinkQueryParamsRecipe)">
                {{ "" + columnConfigItem.additionalLinkText ? ("labels." + columnConfigItem.additionalLinkText | translate) : getProperty(item, columnConfigItem.additionalFieldName) + "" }}
              </a>
            </ng-container>
            <ng-container *ngIf="!columnConfigItem.additionalLinkUrlRecipe">
              {{ "" + getProperty(item, columnConfigItem.additionalFieldName) + "" }}
            </ng-container>
          <span *ngIf="columnConfigItem.separator == separator().BRACKETS">)</span>
        </span>
    </ng-container>
  </ng-container>
  <mat-icon *ngIf="columnConfigItem.showCopyIcon && showAsSimpleTable" class="copyToClipboard"
            [cdkCopyToClipboard]="getProperty(item, columnConfigItem.fieldName)"
            (click)="showCopiedNotification()">content_copy
  </mat-icon>
</ng-template>
