@import '../../styles.scss';

.thin {
  padding: 0 !important;
  padding-left: 8px !important;
}

.additional-field {
  display: inline-flex;
}

.columnWithCopyIcon {
  white-space: normal !important;
  overflow: inherit !important;

  &:before {
    display: none;
  }

  .copyToClipboard {
    position: absolute;
    right: -15px;
    top: 0;
    width: 15px;
    height: 15px;
    font-size: 15px;
    cursor: pointer;
  }
}
