<ng-container *ngIf="!screenSizeService.isMobile() && !isModalDialog">
  <div class="padded items-table-wrapper">
    <div class="table-scrollable" *ngIf="items.length">
      <table mat-table [dataSource]="items" class="mat-elevation-z8 full-width">
        <ng-container matColumnDef="select">
          <th [class.thin]="!isSelectable" mat-header-cell *matHeaderCellDef>
            <app-master-select *ngIf="isSelectable"
                               [items]="items"
                               [selectionGroupName]="itemType"
            ></app-master-select>
          </th>
          <td mat-cell *matCellDef="let element" [class]="(element.status || element.severity) | lowercase"
              [class.thin]="!isSelectable"
              class="statusLeftBorderColor">
            <mat-checkbox *ngIf="isSelectable" (change)="toggleSelection($event, element)"
                          [checked]="isSelected(element)"></mat-checkbox>
          </td>
        </ng-container>

        <ng-container *ngFor="let configItem of desktopConfig" [matColumnDef]="configItem.fieldName">
          <th mat-header-cell
              *matHeaderCellDef>{{ "labels." + (configItem.label || configItem.fieldName) | translate }}</th>
          <td mat-cell *matCellDef="let item">
            <ng-container *ngIf="configItem.fieldName">
              <a *ngIf="configItem.linkUrlRecipe"
                 [routerLink]="getUrl(item, configItem.linkUrlRecipe)">
                {{ getProperty(item, configItem.fieldName) }}
              </a>
              <ng-container *ngIf="!configItem.linkUrlRecipe">
                {{ getTrimmedProperty(item, configItem.fieldName) }}
              </ng-container>
              <div *ngIf="isLongText(getTrimmedProperty(item, configItem.fieldName))">
                <button mat-button color="accent" class="float-right"
                        (click)="showMore(item)">{{ "buttons.showMore" | translate }}</button>
              </div>
            </ng-container>
            <ng-container *ngIf="configItem.additionalFieldName">
                  <span *ngIf="configItem.additionalLinkUrlRecipe" class="additional-field">
                    <span>(</span>
                    <a [routerLink]="getUrl(item, configItem.additionalLinkUrlRecipe)">
                      {{ "" + getProperty(item, configItem.additionalFieldName) + "" }}
                    </a>
                    <span>)</span>
                  </span>
              <ng-container *ngIf="!configItem.additionalLinkUrlRecipe">
                {{ " | " + getProperty(item, configItem.additionalFieldName) }}
              </ng-container>
            </ng-container>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="screenSizeService.isMobile() && !isModalDialog">
  <div class="padded relativeWrapper">
    <app-master-select
      *ngIf="items.length && isSelectable"
      [items]="items"
      [selectionGroupName]="itemType"
    >
    </app-master-select>
    <div *ngFor="let item of items" class="item-card-wrapper">
      <mat-card *ngIf="item" [class]="(item.status || item.severity) | lowercase" class="statusLeftBorderColor">
        <div *ngIf="headerElement && headerElement.linkUrlRecipe" class="card-header">
          <mat-checkbox *ngIf="isSelectable" (change)="toggleSelection($event, item)"
                        [checked]="isSelected(item)"></mat-checkbox>
          <a [routerLink]="getUrl(item, headerElement.linkUrlRecipe)">
            {{ getProperty(item, headerElement.fieldName) }}
          </a>
        </div>
        <table>
          <ng-container *ngFor="let configItem of mobileConfig">
            <tr *ngIf="!configItem.isHeader">
              <td class="label">{{ "labels." + (configItem.label || configItem.fieldName) | translate }}</td>
              <td [class]="configItem.fieldName">
                <ng-container *ngIf="configItem.fieldName">
                  <a *ngIf="configItem.linkUrlRecipe"
                     [routerLink]="getUrl(item, configItem.linkUrlRecipe)">
                    {{ getProperty(item, configItem.fieldName) }}
                  </a>
                  <ng-container *ngIf="!configItem.linkUrlRecipe">
                    {{ getTrimmedProperty(item, configItem.fieldName) }}
                  </ng-container>
                  <div *ngIf="isLongText(getTrimmedProperty(item, configItem.fieldName))">
                    <button mat-button color="accent" class="float-right"
                            (click)="showMore(item)">{{ "buttons.showMore" | translate }}</button>
                  </div>
                </ng-container>
                <ng-container *ngIf="configItem.additionalFieldName">
                  <span *ngIf="configItem.additionalLinkUrlRecipe" class="additional-field">
                    <span>(</span>
                    <a [routerLink]="getUrl(item, configItem.additionalLinkUrlRecipe)">
                      {{ "" + getProperty(item, configItem.additionalFieldName) + "" }}
                    </a>
                    <span>)</span>
                  </span>
                  <ng-container *ngIf="!configItem.additionalLinkUrlRecipe">
                    {{ " | " + getProperty(item, configItem.additionalFieldName) }}
                  </ng-container>
                </ng-container>
              </td>
            </tr>
          </ng-container>
        </table>
      </mat-card>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="isModalDialog">
  <div class="padded relativeWrapper">
    <div *ngFor="let item of items" class="simple-table">
      <table>
        <ng-container *ngFor="let configItem of modalDialogConfig">
          <tr *ngIf="!configItem.isHeader">
            <td class="label">{{ "labels." + (configItem.label || configItem.fieldName) | translate }}</td>
            <td [class]="configItem.fieldName" class="relativeWrapper"
                [class.columnWithCopyIcon]="configItem.fieldName === 'description'">
              <ng-container *ngIf="configItem.fieldName">
                <a *ngIf="configItem.linkUrlRecipe"
                   [routerLink]="getUrl(item, configItem.linkUrlRecipe)">
                  {{ getProperty(item, configItem.fieldName) }}
                </a>
                <ng-container *ngIf="!configItem.linkUrlRecipe">
                  {{ getProperty(item, configItem.fieldName) }}
                </ng-container>
                <mat-icon *ngIf="configItem.fieldName === 'description'" class="copyToClipboard"
                          [cdkCopyToClipboard]="getProperty(item, configItem.fieldName)"
                          (click)="showCopiedNotification()">content_copy
                </mat-icon>
              </ng-container>
              <ng-container *ngIf="configItem.additionalFieldName">
                <span *ngIf="configItem.additionalLinkUrlRecipe" class="additional-field">
                  <span>(</span>
                  <a [routerLink]="getUrl(item, configItem.additionalLinkUrlRecipe)">
                    {{ "" + getProperty(item, configItem.additionalFieldName) + "" }}
                  </a>
                  <span>)</span>
                </span>
                <ng-container *ngIf="!configItem.additionalLinkUrlRecipe">
                  {{ " | " + getProperty(item, configItem.additionalFieldName) }}
                </ng-container>
              </ng-container>
            </td>
          </tr>
        </ng-container>
      </table>
    </div>
  </div>
</ng-container>
