<ng-container *ngIf="!screenSizeService.isMobile()">
  <div class="subtitle">
    <span>{{ "labels.failedMessages" | translate }}</span>
    <ng-container *ngIf="dashboardTimeFrameInDays">
      <span *ngTemplateOutlet="titleTimeFrameContent;"></span>
    </ng-container>
  </div>
  <ng-container *ngIf="!loaded">
    <app-loading-spinner></app-loading-spinner>
  </ng-container>

  <ng-container *ngIf="failedMessages?.length">
    <app-list [desktopConfig]="failedMessagesConfig" [mobileConfig]="failedMessagesConfig" [items]="failedMessages"
              itemType="message"
              [isSelectable]="false" [showWithoutBorder]="true"></app-list>
  </ng-container>
  <ng-container *ngIf="!failedMessages?.length">
    <div class="no-results">{{ "labels.noFailedMessages" | translate }}</div>
  </ng-container>
</ng-container>

<ng-container *ngIf="screenSizeService.isMobile()">
  <a [routerLink]="mobileCardLinkUrl"
     [queryParams]="requestHelper.getQueryParams(mobileCardLinkQueryParams)"
     [hidden]="!loaded">
    <mat-card class="dashboardMobileCard">
      <div class="title">
        <div>{{ "labels.failedMessages" | translate }}</div>
        <ng-container *ngIf="dashboardTimeFrameInDays">
          <div *ngTemplateOutlet="titleTimeFrameContent;"></div>
        </ng-container>
      </div>
      <div class="info">{{ failedMessagesCount }}</div>
    </mat-card>
  </a>
</ng-container>

<ng-template #titleTimeFrameContent>
  {{ " (" + ("labels.last" | translate) + " " + dashboardTimeFrameInDays * 24
+ " " + ("labels.hours" | translate) + ")" }}
</ng-template>
