@import '../../styles.scss';

button {
  vertical-align: middle;
  margin-right: 5px;
  margin-bottom: 5px;

  .btnIcon {
    vertical-align: middle;
    font-size: 18px;
    height: 18px;
    width: 18px;
    margin-right: 5px;
  }
}

/* Button In Progress */
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid $orangeDark;
  border-top-color: #ffffff;
  animation: spinner .8s linear infinite;
}
